{% extends 'base.html' %}
{% load static %} {% load humanize %}


{% block title %} - {{project_name}} TNC {% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block header %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link text-light active" href="{% url 'all_estimates' %}">
            Estimates
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'clients' %}" class="nav-link text-light active" aria-current="page">
            Clients
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}


<div class="container-lg pb-4">
    <div class="text-light py-2 display-4">Terms and Conditions
        <div class="text-muted display-6">
            {{project_name}}
        </div>
    </div>
    <div class="row flex-md-row-reverse pb-3" dir="rtl">
        <div class="col-md-6 col_height">
            <div class="order-md-2 card my-2">
                <div class="card-body project_edit_tnc">
                    <div class="text h5 mb-2">
                        <div class="mb-2">Select Terms and Conditions to import from Organization.</div>
                    </div>
                    <form method="POST">{%csrf_token%}

                        <div class="accordion" id="accordionExample">
                            {% for item in org_tnc %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{item.pk}}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{item.pk}}" aria-expanded="false"
                                        aria-controls="collapse{{item.pk}}">
                                        <input class="form-check-input me-2" type="checkbox" name="select_project_tnc"
                                            value="{{item.pk}}">
                                        <b class="">{{item.name|capfirst}}</b>
                                    </button>
                                </h2>
                                <div id="collapse{{item.pk}}" class="accordion-collapse collapse"
                                    aria-labelledby="heading{{item.pk}}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">

                                        {{item.content|safe}}
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <p class="mt-2">
                            <button class="btn btn-primary" type="submit">Import</button>
                        </p>
                    </form>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <div class="col-md-6 col_height">
            <div class="order-md-3 card my-2">
                <div class="card-body project_edit_tnc">

                    <div class="text h5 mb-2">
                        <div class="mb-2">Existing Terms and conditions in the Project.</div>
                    </div>
                    <div class="accordion" id="existingTNCAccordian">
                        {% for item in project_tnc %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{item.pk}}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{item.pk}}" aria-expanded="false"
                                    aria-controls="collapse{{item.pk}}">
                                    <b class="">{{item.heading}}</b>
                                </button>
                            </h2>
                            <div id="collapse{{item.pk}}" class="accordion-collapse collapse"
                                aria-labelledby="heading{{item.pk}}" data-bs-parent="#existingTNCAccordian">
                                <div class="accordion-body">

                                    {{item.content|safe}}
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block expense_button %}
<a aria-label="all-expenses" href="{% url 'all_expenses' %}" type="button" class="btn btn-success btn-lg">
    <img alt="all-expenses" src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
</a>

<a aria-label="all-expenses" href="{% url 'all_estimates' %}" type="button" class="btn btn-info btn-lg">
    <img src="https://img.icons8.com/ios/30/000000/estimates.png" />
</a>

{% endblock %}