{% extends 'base.html' %}

{% block head %}
<title>Oh Snap!</title>
{% endblock %}

{% block header %}

<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <a type="button" href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
</div>

{% endblock %}


{% block body %}

<div class="container text-center align-items-middle p-4">
    <img alt="error-page-not-found" src="{{ url_for('static', filename='img/error.svg') }}">
    <h1 class="text-light pt-1">Oh Snap!</h1>
</div>

{% endblock %}