<div class="row justify-content-evenly">

    <!-- Column Room -->
    <div class="col-md-4 col-sm-12 mb-3">
        <div class="card border-0 text-dark bg-light">
            <div class="card-header text-light bg-success">
                <div class="d-flex justify-content-between align-bottom">
                    <span class="align-bottom">
                        <span class="fs-4 text-wrap">Rooms</span>
                    </span>
                    <span class="">
                        <a href="#">
                            <img class="icon_ud" src="https://img.icons8.com/ios/20/ffffff/delete-forever--v2.png" />
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/cotton/30/000000/add--v2.png" />
                        </a>
                    </span>
                </div>

            </div>
            <div class="card-body folio_card">
                {% if rooms|length == 0 %}
                <div class=" text-center my-3">
                    <img alt="void" class="img-fluid m-2" src="{% static 'img/void.svg' %}">
                    <div class="text-center">
                        <p class="py-1 fw-light my-3 fs-1">Nothing Here
                        </p>
                    </div>
                </div>
                {% else %}
                <ul class="list-group">
                    {% for item in rooms %}
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                {{item.name}}
                            </div>
                            <span>
                                <span class="px-1">
                                    <a href="{% url 'update_room' item.pk %}">
                                        <img class="icon_ud" src="https://img.icons8.com/ios/20/fff/edit-row.png" />
                                    </a>
                                </span>

                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
    <!-- Column Room -->

    <!-- Column Room Element -->
    <div class="col-md-4 col-sm-12 mb-3">
        <div class="card border-0 ">
            <div class="card-header text-light bg-secondary">

                <div class="d-flex justify-content-between align-bottom">
                    <span class="align-bottom">
                        <span class="fs-4 text-wrap">Room Element</span>
                    </span>
                    <span class="">
                        <a href="#">
                            <img class="icon_ud" src="https://img.icons8.com/ios/20/ffffff/delete-forever--v2.png" />
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/cotton/30/000000/add--v2.png" />
                        </a>
                    </span>
                </div>
            </div>
            <div class="card-body folio_card">
                {% if room_item|length == 0 %}
                <div class=" text-center my-3">
                    <img alt="void" class="img-fluid m-2" src="{% static 'img/void.svg' %}">
                    <div class="text-center">
                        <p class="py-1 fw-light my-3 fs-1">Nothing Here
                        </p>
                    </div>
                </div>
                {% else %}
                <ul class="list-group">
                    {% for item in room_item %}
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                {{item.name}}
                            </div>
                            <span>
                                <span class="px-1">
                                    <a href="{% url 'update_room_item' item.pk %}">
                                        <img class="icon_ud" src="https://img.icons8.com/ios/20/fff/edit-row.png" />
                                    </a>
                                </span>
                            </span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Column Room Element -->

    <!-- Column Room Element Description -->
    <div class="col-md-4 col-sm-12 mb-3">
        <div class="card">
            <div class="card-header bg-info">
                <div class="d-flex justify-content-between align-bottom">
                    <span class="align-bottom">
                        <span class="fs-4 text-wrap">Element Description</span>
                    </span>
                    <span class="">
                        <a href="#">
                            <img class="icon_ud" src="https://img.icons8.com/ios/20/000000/delete-forever--v2.png" />
                        </a>
                        <a href="#">
                            <img src="https://img.icons8.com/cotton/30/000000/add--v2.png" />
                        </a>
                    </span>
                </div>
            </div>
            <div class="card-body folio_card">
                {% if room_item_description|length == 0 %}
                <div class=" text-center my-3">
                    <img alt="void" class="img-fluid m-2" src="{% static 'img/void.svg' %}">
                    <div class="text-center">
                        <p class="py-1 fw-light my-3 fs-1">Nothing Here
                        </p>
                    </div>
                </div>
                {% else %}
                <ul class="list-group">
                    {% for item in room_item_description %}
                    <li href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between">
                            <div class="text-wraps">
                                <span class="px-1">
                                    {{item.description}} @
                                    <span class="text-primary">
                                        ₹ {{item.rate}}
                                    </span>
                                </span>
                            </div>
                            <div class="text-nowrap text-primary">

                                <span class="px-1">
                                    <a href="{% url 'update_room_item_desc' item.pk %}">
                                        <img class="icon_ud" src="https://img.icons8.com/ios/20/fff/edit-row.png" />
                                    </a>
                                </span>

                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Column Room Element Description -->
</div>