option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: myproject.wsgi:application
    

    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: Dimention_Measure.settings
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        SECRET_KEY: hfefhlafhalbgaglabfywiagrt74tyq37oyflwuihb47r73yoqrou202un2c8c0y8n9yY&(&&^&)#&^N& T*&(#)
        ENV: prod
        HOST_IP: InsightsDimentions.ap-south-1.elasticbeanstalk.com
        RDS_DB_NAME: insightdb
        RDS_USERNAME: insightdbadmin
        RDS_PASSWORD: SACmasteradm!n1999
        RDS_HOSTNAME: insight-db-snapshot-restore-test-21may23.cb0inzljmwt9.ap-south-1.rds.amazonaws.com
        RDS_PORT: 3306
        LOGGING : True

container_commands:
	01_create_log_folder:
		command: "mkdir -p /var/app/current/log/"
	02_change_folder_permissions:
		command: "chmod 666 /var/app/current/log/"
	03_change_file_permissions:
		command: "chmod 644 /var/app/current/log/django-insight.log"
	04_makemigrations:
		command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
		leader_only: true
	05_migrate:
		command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
		leader_only: true
	06_collectstatic:
		command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
		leader_only: true
