option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: myproject.wsgi:application

    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: Dimention_Measure.settings

commands:
    01_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"

container_commands:
    01_restart_gunicorn:
        command: "sudo systemctl restart gunicorn"