option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myproject.wsgi:application
    NumProcesses: 2
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myproject.settings
    PYTHONPATH: /opt/python/current/app

container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true

commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_symlink.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_CURRENT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      if [ -f $EB_APP_STAGING_DIR/django.config ]; then
          ln -sf $EB_APP_STAGING_DIR/django.config $EB_APP_CURRENT_DIR/.ebextensions/django.config
      fi

  "/opt/elasticbeanstalk/hooks/configdeploy/pre/01_create_persistent_dirs.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/hooks/common.sh
      EB_CONFIG_APP_CURRENT=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      EB_CONFIG_DJANGO_APP_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)/myproject
      EB_CONFIG_SOURCE=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)/myproject

      if [ ! -d $EB_CONFIG_DJANGO_APP_DIR ]; then
          cp -R $EB_CONFIG_SOURCE $EB_CONFIG_APP_CURRENT
      fi
