option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: myproject.wsgi:application

    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: Dimention_Measure.settings
        SECRET_KEY: hfefhlafhalbgaglabfywiagrt74tyq37oyflwuihb47r73yoqrou202un2c8c0y8n9yY&(&&^&)#&^N& T*&(#)
        ENV: prod
        HOST_IP: insight-django-env.eba-m3vveqnw.ap-south-1.elasticbeanstalk.com
        RDS_DB_NAME: insightdb
        RDS_USERNAME: insightdbadmin
        RDS_PASSWORD: SACmasteradm!n1999
        RDS_HOSTNAME: insight-db.cb0inzljmwt9.ap-south-1.rds.amazonaws.com
        RDS_PORT: 3306
