{% extends 'base.html' %}
{% load static %} {% load humanize %}


{% block title %} - Expenses {% endblock %}


{% block header %}

<!-- new payee modal trigger -->
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#newPayee" class="nav-link active text-light" aria-current="page">
            <span class="align-bottom">
                <!-- <span class="px-1">
                    <img alt="new_payee" src="https://img.icons8.com/ios/25/ffffff/user--v3.png" />
                </span> -->
                New Payee
            </span>
        </a>
    </li>
</ul>
<!-- new payee modal trigger -->

{% endblock %}

{% block modal %}

<!-- new payee modal -->
<div class="modal fade" id="newPayee" tabindex="-1" aria-labelledby="newPayeeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="newPayee">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPayeeLabel">New Payee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" id="button-addon2">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- new payee modal -->

{% endblock %}


{% block body %}
<div class="container pb-4">
    <div class="text-light py-2 display-4">All Expenses</div>
    <div class="row flex-md-row-reverse pb-3" dir="rtl">
        <div class="col-md-6 col_height">

            <!-- SUM CARD -->
            {% include "components/sum_card.html" %}
            <!-- SUM CARD -->


            <!-- PAYEES CARD -->
            {% include "components/all_payees_card.html" %}
            <!-- PAYEES CARD -->

        </div>

        <!-- EXPENSE LIST CARD  -->
        {% include "components/expenses_card.html" %}
        <!-- EXPENSE LIST CARD  -->

    </div>
</div>

{% endblock %}

{% block expense_button %}

<a aria-label="all-expenses" href="{% url 'all_expenses' %}" type="button" class="btn btn-success btn-lg">
    <img alt="all-expenses" src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
</a>

<a aria-label="all-expenses" href="{% url 'all_estimates' %}" type="button" class="btn btn-info btn-lg">
    <img src="https://img.icons8.com/ios/30/000000/estimates.png" />
</a>
{% endblock %}