{% extends 'base.html' %}

{% load static %} {% load humanize %}

{% block title %} - Expenses: {{project_name}}{% endblock %}

{% block header %}

<ul class="nav justify-content-end">
    <li class="nav-item px-2">
        <a type="button" class="text-light" data-bs-toggle="modal" data-bs-target="#newPayee">
            New Payee
        </a>
    </li>

    <li class="nav-item px-2">
        <a type="button" class="text-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            New Expense
        </a>
    </li>
</ul>

{% endblock %}


{% block body %}

<!-- Add new user modal -->
<div class="modal fade" id="newPayee" tabindex="-1" aria-labelledby="newPayeeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" name="new_payee" id="newPayee">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPayeeLabel">New Payee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}

                    <p>
                        <label for="id_name">Name:</label>
                        <input type="text" name="name" class="form-control" aria-label=".form-control-sm"
                            placeholder="Name" maxlength="200" required id="id_name">
                    </p>
                    <p>
                        <label for="id_description">Description:</label>
                        <textarea name="description" rows="3" class="form-control" aria-label=".form-control-sm"
                            id="id_description"></textarea>
                    </p>
                    <p>
                        <label for="id_phoneNumber">Phonenumber:</label>
                        <input type="tel" name="phoneNumber" class="form-control" aria-label=".form-control-sm"
                            placeholder="Phone Number (optional)" maxlength="200" id="id_phoneNumber">
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-success" value="new_payee" name="new_payee" type="submit"
                        id="button-addon2">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add new user modal -->


<!-- Add new Expense modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="expenseModalLabel" width="75%"
    aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" name="new_expense" id="expense">
            <div class="mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        <p>
                            <label for="id_payee">Payee:</label>
                            {{form.payee}}

                        </p>
                        <p>
                            <label for="id_amount">Amount:</label>
                            {{form.amount}}
                        </p>
                        <p>
                            <label for="id_payment_status">Payment status:</label>
                            <select name="payment_status" class="form-select" aria-label=".form-control-sm"
                                placeholder="Payment-satus" maxlength="100" id="id_payment_status">
                                <option value="" selected>---------</option>
                                <option value="P">Paid</option>
                                <option value="R">Recieved</option>
                                <option value="PE">Pending</option>
                                <option value="NA">No Status</option>
                            </select>
                        </p>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="new_expense" value="expenseModal" id="expenseModal"
                            class="btn btn-success">Save</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add new Expense modal -->

<div class="container px-3">
    <div class="text-light py-2 display-4">Expense: {{project_name}}</div>
    <div class="row flex-md-row-reverse py-3" dir="rtl">
        <div class="col-md-6 col_height">

            <!-- SUM CARD -->
            {% include "components/sum_card.html" %}
            <!-- SUM CARD -->

            <!-- PAYEES CARD -->
            {% include "components/all_payees_card.html" %}
            <!-- PAYEES CARD -->

        </div>

        <!-- EXPENSE LIST CARD  -->
        {% include "components/expenses_card.html" %}
        <!-- EXPENSE LIST CARD  -->

    </div>
</div>

{% endblock %}

{% block expense_button %}
{% endblock %}