{% extends 'base.html' %}
{% load static %} {% load humanize %}
{% block head %}<title>Payee | {{payee.name}}</title>{% endblock %}

{% block body %}

<div class="container-lg container-md container-sm py-4">
    <div class="mx-auto">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-6 col-xl-6">
                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title" id="{{dimension.name}}dimensionLabel">Update:
                            {{payee.name|title}}
                        </h5>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary">Save
                                changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}