{% extends 'base.html' %}

{% load static %} {% load humanize %} {% load utility %}

{% block title %} - Dimension: {{project.name| capfirst }} {% endblock %}

{% block header %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link active text-light" aria-current="page">Home</a>
    </li>
</ul>
{% endblock %}


{% block body %}

<!-- New Dimentson Modal -->
<form action="" method="POST" name="new_dimension" id="new_dimension">

    <div class="modal fade" id="newDimension" tabindex="-1" aria-labelledby="newDimentionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    {% csrf_token %}
                    <h5 class="modal-title" id="newDimensionLabel">
                        New Dimension
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        {{form.name.label}}
                        {{form.name}}
                    </p>
                    <p>
                        {{form.description.label}}
                        {{form.description}}
                    </p>
                    <p>
                    <div class="row">
                        <div class="col">
                            {{form.length.label}}
                            {{form.length}}
                        </div>
                        <div class="col">
                            {{form.width.label}}
                            {{form.width}}
                        </div>
                    </div>
                    </p>
                    <p>
                    <div class="row">
                        <div class="col">
                            Sqm
                            <input class="form-control" id="sqm" type="text" placeholder="Sqm"
                                aria-label=".form-control-sm" disabled readonly>
                        </div>
                        <div class="col">
                            Sqft
                            <input class="form-control" id="sqft" type="text" placeholder="Sqft"
                                aria-label=".form-control-sm" disabled readonly>
                        </div>
                    </div>
                    </p>
                    <p>
                        {{form.rate.label}}
                        {{form.rate}}
                    </p>
                    <p>Amount<input class="form-control" id="amount" type="number" placeholder="Amount"
                            aria-label=".form-control-sm" readonly>
                    </p>
                    <p>
                        <span class="fs-6">
                            <em class="fst-italic">*Amount calculated using Dimensions in </em>
                            <span class="badge bg-secondary text-wrap font-monospace">Ft. | SqFt.
                            </span>
                        </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="new_dimension" value="new_dimension" class="btn btn-primary m-1">
                        <img src="https://img.icons8.com/ios-filled/25/000000/save--v1.png" />
                        Add Item</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="container-lg pt-2 px-3 pb-4">
    <div class="row pt-2">
        <div class="col-12 col-sm-8">
            <div class="h2 text-light pb-2">
                <span class="float-start">
                    <span class="float-start text-wrap">{% replaceItem project.name|title %}</span>
                    <span class="dropdown hide_items_print">
                        <a type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://img.icons8.com/ios/27/ffffff/menu-2.png" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li>
                                <a class="dropdown-item" href="{% url 'download_excel_file' project.id project.name %}">
                                    Save Excel
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" onClick="window.print()">
                                    Save PDF
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a href="{% url 'delete_project' project.id project.name %}" class="dropdown-item"
                                    id="delete_button">
                                    Delete project
                                </a>
                            </li>
                        </ul>
                    </span>
                </span>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <span class="pt-1 float-sm-end float-start">
                <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    title="{{project.created_on}}">
                    Created {{project.created_on | naturalday}}
                </span>
            </span>
        </div>
    </div>

    {%if project.description%}
    <div class="row my-2">
        <div class="col">
            <span class="text-light">
                {{project.description}}
            </span>
        </div>
    </div>
    {% endif %}




    <hr class="text-light">

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">

                {% if dimentions|length == 0 %}
                <div class="card">
                    <div class="card-body">
                        <div class=" text-center my-3">
                            <img alt="void" class="img-fluid m-2" style="width: 350px;"
                                src="{% static 'img/void.svg' %}">
                            <div class="text-center">
                                <p class="py-1 fw-light my-3 fs-1">Nothing Here
                                    <br>
                                    <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal"
                                        data-bs-target="#newDimension">
                                        <span class="text-nowrap">
                                            <img class="px-2" src="https://img.icons8.com/ios/25/000000/add--v2.png" />
                                            Add Dimension
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if dimentions %}
                <table class="table table-bordered table-hover table-sm">
                    <thead class="table-primary align-middle row-cols-auto">
                        <th class="text-start mx-2 text-nowrap">Tag</th>
                        <th class="text-end mx-2 text-nowrap">Length (m)</th>
                        <th class="text-end mx-2 text-nowrap">Width (m)</th>
                        <th class="text-end mx-2 text-nowrap">Area: Sqm</th>
                        <th class="text-end mx-2 text-nowrap">Area: Sqft</th>
                        <th class="text-end mx-2 text-nowrap">Rate</th>
                        <th class="text-end mx-2 text-nowrap">Amount (₹)</th>
                        <th class="text-center mx-2 text-nowrap hide_items_print">Action</th>
                    </thead>

                    {% for item in dimentions %}
                    <tr class="table align-middle font-monospace">
                        <td class="mx-2">
                            {% replaceItem item.name|capfirst %}
                            <div class="text-muted">
                                {% if item.description %}
                                {{item.description}}
                                {% endif %}
                            </div>
                            {% comment %}
                            <span>
                                <small>
                                    <a href="{% url 'update_dimention' item.id project.name %}">
                                        Update
                                    </a>
                                    <a href="{% url 'delete_dimension' item.id item.project.id item.project.name %}">
                                        Delete
                                    </a>
                                </small>
                            </span>
                            {% endcomment %}
                        </td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.length %}</td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.width %}</td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.sqm %}</td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.sqft %}</td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.rate %}</td>
                        <td class="text-end mx-2 text-nowrap">{% formatFloat item.amount %}</td>
                        <td class="text-center mx-2 hide_items_print">
                            <a href="{% url 'update_dimention' item.id project.name %}">
                                <img class="icon_ud" src="https://img.icons8.com/ios/15/fff/edit-row.png" />
                            </a>

                            <a href="{% url 'delete_dimension' item.id item.project.id item.project.name %}">
                                <img class="icon_ud"
                                    src="https://img.icons8.com/ios/15/000000/delete-sign--v1.png" /></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            {% if dimentions %}
            <div class="my-1 hide_items_print">
                <button type="button" class="btn btn-outline-primary m-1" data-bs-toggle="modal"
                    data-bs-target="#newDimension">
                    <span class="text-nowrap">
                        <img class="px-2" src="https://img.icons8.com/ios/25/000000/add--v2.png" />
                        Add Dimension
                    </span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row flex-md-row py-3 mb-3">
        <div class="col" style="height: 200px;">
            <div class="card my-3">
                <div class="card-body">
                    <p class="fs-5 fw-bold">
                        <li class="list-group-item d-flex justify-content-between ">
                            Total Area in sqm
                            <span class="badge bg-primary fs-6 font-monospace">{% formatFloat project.total_sqm %}
                                Sqm.</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between ">
                            Total Area in sqft
                            <span class="badge bg-primary fs-6 font-monospace">{% formatFloat project.total_sqft %}
                                SqFt.</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div>
                                <div>Total Amount*</div>
                            </div>
                            <span class="badge bg-success fs-6 my-auto font-monospace">₹
                                {% formatFloat project.total_amount %}</span>
                        </li>
                    </p>
                    <span class="fs-6 fst-italic">
                        <em>*Amount calculated using Dimensions in </em><span
                            class="badge bg-secondary text-wrap font-monospace">Ft. | SqFt.
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block expense_button %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/calc_areas.js' %}"></script>
{% endblock %}