{% extends 'base.html' %}

{% block title %} - Dimension/Update: {{dimension.project.name|title}} {% endblock %}

{% block header %}
<button type="button" class="btn btn-light" onclick="history.back()">Back </button>
{% endblock %}


{% block body %}

<div class="container-lg container-md container-sm py-4">

    <div class="mx-auto">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-6 col-xl-6">
                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title" id="{{dimension.name}}dimentionLabel">Update:
                            {{dimension.project.name| title}}/{{dimension.name|title}}
                        </h5>
                    </div>
                    <form action="" method="POST" name="update_dimention" id="update_dimention">
                        <div class="card-body">

                            {%csrf_token%}

                            <div class="my-2">
                                {{form.name.label}}
                                {{form.name}}
                            </div>
                            <div class="my-2">
                                {{form.description.label}}
                                {{form.description}}
                            </div>
                            <div class="my-2">
                                {{form.length.label}}
                                {{form.length}}
                            </div>
                            <div class="my-2">
                                {{form.width.label}}
                                {{form.width}}
                            </div>
                            <div class="my-2">
                                Sqm
                                <input class="form-control" id="sqm" type="text" placeholder="Sqm"
                                    aria-label=".form-control-sm" value="{{dimension.sqm}}" readonly>
                            </div>

                            <div class="my-2">
                                Sqft
                                <input class="form-control" id="sqft" type="text" placeholder="Sqft"
                                    aria-label=".form-control-sm" value="{{dimension.sqft}}" disabled readonly>
                            </div>
                            <div class="my-2">
                                {{form.rate.label}}
                                {{form.rate}}
                            </div>
                            <div class="my-2">
                                Amount
                                <input class="form-control" id="amount" type="number" placeholder="Amount"
                                    aria-label=".form-control-sm" value="{{dimension.amount}}" readonly>
                            </div>

                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" name="dimention" id="dimention" value="dimention"
                                class="btn btn-primary">Save
                                changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}