<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="description" content="To keep a record of dimentions and expenses of construction project.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ========================= Favicon ========================= -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

        <!-- ========================= CSS ========================= -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Insight{% block title %} {% endblock %}</title>

        <!-- AJAX JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        {% block head %} {% endblock %}

    </head>

    <body oncontextmenu="return false;">
        <main class="container-lg">
            <header class="text-white hide_items_print">
                <nav class="navbar navbar-expand-lg navbar-light nav_bg_translucent m-2">
                    <div class="container-fluid">
                        <strong>
                            <a class="navbar-brand justify-content-center h2 text-white fs-4" href="{% url 'index' %}">
                                <span class="branding">
                                    <img class="px-1" width="50" src="{% static 'img/iconGrey.svg' %}" />Insight
                                </span>
                            </a>
                        </strong>
                        <!--search button-->
                        <div class="d-flex">
                            <div class="p-1 float-left">
                                <ul class="nav justify-content-end">
                                    {% block header %} {% endblock %}
                                </ul>
                            </div>
                            <button type="button" class="btn me-2 shadow-none" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                                <img alt="search" src="https://img.icons8.com/ios/30/ffffff/search--v1.png" />
                            </button>
                        </div>
                    </div>
                </nav>
            </header>



            {% block modal %}{% endblock %}

            <div id="content">
                <!-- <span class="text-light" id="date-time"></span> -->

                <!-- ===== Content ===== -->
                {% block body %}

                {% endblock %}
                <!-- ===== Content ===== -->

            </div>

            <!-- Search Modal -->
            <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="searchModalLabel">Search</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Search Form -->
                            <form id="searchForm">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" placeholder="Discover the Missing Piece: Search for Projects "
                                        name="textToSearch" class="form-control" id="projectInput" required>
                                </div>
                                <div class="input-group">
                                    <select class="form-select" id="select-dropdown"
                                        aria-label="Select project or dimewent">
                                        <option selected value=1>Dimention</option>
                                        <option value=2>Estimate</option>
                                    </select>

                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </form>
                            <div id="searchResults" style="max-height: 300px;
                        overflow-y: scroll;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </main>


        <div class="hide_items_print" id="mybutton">

            <!-- Converter button modal -->
            <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal"
                data-bs-target="#calculatorModal">
                <img alt="converter-button" src="https://img.icons8.com/ios/30/ffffff/ruler.png" />
            </button>
            <!-- Converter button modal -->

            <!-- dimension button -->
            <a aria-label="all-dimension" href="{% url 'home' %}" type="button" class="btn btn-success btn-lg">
                <img alt="all-dimension" src="https://img.icons8.com/ios/30/ffffff/comparing.png" />
            </a>
            <!-- dimension button -->

            {% if estimator_enabled %}
            <!-- estimate button -->
            <a aria-label="all-expenses" href="{% url 'all_estimates' %}" type="button" class="btn btn-info btn-lg">
                <img src="https://img.icons8.com/ios/30/000000/estimates.png" />
            </a>
            <!-- estimate button -->
            {% endif %}


            {% if expense_enabled %}
            <!-- expense button -->

            
            <a href="{% url 'project_expense' dimension.project.id dimension.project.name %}"
                type="button" class="btn btn-success btn-lg">
                <img src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
            </a>

            <a href="{% url 'project_expense' project.id project.name %}" type="button" class="btn btn-success btn-lg">
                <img src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
            </a>

            <!-- expense button -->
            {% endif %}

            {% comment %} 

            <a href="{%url 'project_detail' project_id project_name %}" type="button" class="btn btn-warning btn-lg">
                <img alt="project-btn" src="https://img.icons8.com/ios/30/000000/safety-hat.png" />
            </a> {% endcomment %}

            {% block expense_button %}
            {% endblock %}

        </div>



        <!-- Modal -->
        <div class="modal fade" id="calculatorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Calculate</h5>
                    </div>
                    <div class="modal-body">
                        <p>
                        <div class="row">
                            <div class="col">
                                Meter
                                <input class="form-control form-control-sm" oninput="mtr_ft()" id="mt" name="mt"
                                    type="number" placeholder="Meter" aria-label=".form-control-sm">
                            </div>
                            <div class="col">
                                Feet
                                <input class="form-control form-control-sm" oninput="ft_mtr()" id="ft" name="ft"
                                    type="number" placeholder="Feet" aria-label=".form-control-sm">
                            </div>
                        </div>
                        </p>
                        <p>
                        <div class="row">
                            <div class="col">
                                Sqm
                                <input class="form-control form-control-sm" oninput="sqmtr_sqft()" id="calc_sqmt"
                                    name="sqmt" type="number" placeholder="Square Meter" aria-label=".form-control-sm">
                            </div>
                            <div class="col">
                                SqFt
                                <input class="form-control form-control-sm" oninput="sqft_sqmtr()" id="calc_sqft"
                                    name="sqft" type="number" placeholder="Square Feet" aria-label=".form-control-sm">
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <footer>
            {% include "footer.html" %}
        </footer>
    </body>

    <!--===== MAIN JS =====-->

    {% block scripts %} {% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</html>