{% extends 'base.html' %}
{% load static %} {% load humanize %} {% load utility %}

{% block title %} - Dimensions{% endblock %}

{% block header %}

Hi, {{user.username|capfirst}} 👋

{% endblock %}

{% block body %}
<div class="container-lg pb-4">

    <div class="text-light py-2 display-4">Dashboard</div>

    <section class="container-lg pb-4">
        <div class="text-light py-2 display-6">Dimension</div>

        {% if dimensions%}
        <div class="row">
            {% for item in dimensions %}
            <div class="col-lg-4 col-md-6 sm-10">
                <a href="{% url 'project_detail' item.id item.name %}" class="text-dark"
                    aria-label="project-{{item.name}}">
                    <div class="card my-2 index_project_card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        {% replaceItem item.name|capfirst %}
                                    </div>
                                    <span class="badge bg-secondary mt-1" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="{{item.created_on}}">
                                        Created {{item.created_on | naturalday}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {% else %}

        <ul class="list-group">
            <li class="list-group-item">
                <div class="ms-2 me-auto text-dark text-center">
                    <span class="fw-bold">Nothing Here</span>
                </div>
            </li>
        </ul>

        {% endif %}

    </section>


    <section class="container-lg pb-4">
        <div class="text-light py-2 display-6">Estimate</div>


        {% if estimates %}
        <div class="row">
            {% for item in estimates %}

            <div class="col-lg-4 col-md-6 sm-10">
                <a href="{% url 'project_detail' item.id item.name %}" class="text-dark"
                    aria-label="project-{{item.name}}">
                    <div class="card my-2 index_project_card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">
                                        <span class="text-muted">
                                            {{item.reference_number}}
                                        </span>
                                        <span>
                                            <span>{% replaceItem item.name|capfirst %}</span>
                                            <span class="badge bg-primary">{{item.created_on|naturalday}}</span>
                                        </span>
                                    </div>
                                    <span class="wrapword">
                                        {{item.description|truncatechars:20|capfirst}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        {%else%}

        <ul class="list-group">
            <li class="list-group-item">
                <div class="ms-2 me-auto text-dark text-center">
                    <span class="fw-bold">Nothing Here</span>
                </div>
            </li>
        </ul>

        {% endif %}
    </section>
</div>




{% endblock %}

{% block expense_button %}

<a aria-label="all-expenses" href="{% url 'all_expenses' %}" type="button" class="btn btn-success btn-lg">
    <img alt="all-expenses" src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
</a>

<a aria-label="all-expenses" href="{% url 'all_estimates' %}" type="button" class="btn btn-info btn-lg">
    <img src="https://img.icons8.com/ios/30/000000/estimates.png" />
</a>
{% endblock %}