<div class="p-3 m-2 footer hide_items_print">
    <div class="row ">
        <div class="text-center user-select-none text-dark p-3">

            {% if user.is_authenticated %}
            <div class="mb-3">
                <a class="btn btn-secondary btn-sm" href="{% url 'logout' %}">Logout</a>
            </div>
            
            {% endif %}
            <button id = "colorchangeButton"  onclick="changeColors()">
                <img id= "icon" width="30" src="https://img.icons8.com/fluency/48/black-and-white.png" alt="black-and-white"/>
            </button>
            <h6>© <span id="current_year"></span> Copyright: Fantastic Computing Machine</h6>
            <div class="hide_items_print">
                Made with ❤ in INDIA
            </div>
        </div>
    </div>
</div>