<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========================= Favicon ========================= -->
    <link rel="shortcut icon" type="image/x-icon" href="">

    <!-- ========================= CSS ========================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block head %} {% endblock %}

    <!-- ===== AJAX ===== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body style="background-color: #111827">

    <main style="width: 100%; min-height: 100vh;">
        <header class="container text-white h3">
            <nav class="navbar navbar-expand-lg navbar-light nav_bg_translucent m-2">
                <div class="container-fluid">

                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">

                        <span class="navbar-toggler-icon"></span>
                    </button> -->

                    <strong>
                        <a class="navbar-brand justify-content-center h2 text-white fs-4"
                            href="{{ url_for('index') }}">Dime<img
                                src="https://img.icons8.com/ios/15/ffffff/drafting-compass2.png" />tions</a>
                    </strong>

                    <div class="p-1">
                        {% block header %} {% endblock %}
                    </div>

                </div>
            </nav>
        </header>


        {% block modal %}{% endblock %}

        <div id="content">
            <!-- Flask alert -->
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <span>{{message}}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!-- Flask alert -->
            <!-- ===== Content ===== -->
            {% block body %}

            {% endblock %}
            <!-- ===== Content ===== -->

        </div>


    </main>
    <footer style="margin: 0; padding:0;">
        {% include "footer.html" %}
    </footer>
</body>

<!--===== MAIN JS =====-->

{% block scripts %} {% endblock %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</html>