{% extends 'base.html' %}

{% block head %}
<title>Expences</title>
{% endblock %}

{% block header %}

<!-- Add new user modal trigger -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#userModal">
    <img src="https://img.icons8.com/ios/30/000000/user--v3.png" />
</button>
<!-- Add new user modal trigger -->

<!-- Add new Expense modal trigger -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <img src="https://img.icons8.com/ios/30/000000/wallet--v1.png" />
</button>
<!-- Add new Expense modal trigger -->

{% endblock %}


{% block body %}

<!-- Add new user modal trigger -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="userModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">New Payee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="text" class="form-control my-2" id="newPayeeName" name="newPayeeName" ,
                        aria-label="Recipient's username" aria-describedby="button-addon2" placeholder="Payee name">

                    <div class="mb-3">
                        <textarea class="form-control my-2" id="exampleFormControlTextarea1" name="about" rows="3"
                            placeholder="About (optional)"></textarea>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">Show Payee</a>
                        <button class="btn btn-success" type="submit" name="userModal" value="userModal" id="userModal"
                            id="button-addon2">Add</button>
                    </div>

                    <div class="my-2">
                        <div class="collapse my-2" id="collapseExample">
                            <ul class="list-group">
                                {% for item in payee_list %}

                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <b>{{item.get('payeeName')}}</b>

                                            {% if item.get('about')!=None %}
                                            : {{item.get('about')}}
                                            {% endif %}
                                        </div>
                                        <div>
                                            <span class="align-items-start">
                                                <a class="btn btn-light"
                                                    href="{{ url_for('expense_urls.payee_update', payee_id=item.get('payeeId')) }}">
                                                    <img src="https://img.icons8.com/ios/20/000000/edit--v2.png" />
                                                </a>
                                                <a class="btn btn-light"
                                                    href="{{ url_for('expense_urls.payee_delete', payee_id=item.get('payeeId')) }}">
                                                    <img
                                                        src="https://img.icons8.com/ios/20/000000/delete-forever.png" />
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add new user modal trigger -->

<!-- Add new Expense modal -->

<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="expenseModalLabel" width="75%"
    aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="expense">
            <div class="mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Expense</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="my-3 mx-4">
                            <select class="form-select" name="payee_list" aria-label="Default select example">
                                <option selected>Select Payee</option>
                                {% for item in payee_list %}
                                <option value="{{item.get('payeeName')}}">{{item.get('payeeName')}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="my-3 mx-4">
                            <div class="form-floating">
                                <input type="number" step=".01" class="form-control" id="amount" name="amount">
                                <label for="newPayeeName">Amount</label>
                            </div>
                        </div>
                        <div class="my-3 mx-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status_radio" id="paidRadio"
                                    value="Paid">
                                <label class="badge bg-danger rounded-pill" for="paidRadio">Paid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status_radio" id="recievedradio"
                                    value="Recieved">
                                <label class="badge bg-success rounded-pill" for="recievedradio">Recieved</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="expenseModal" value="expenseModal" id="expenseModal"
                            class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add new Expense modal -->




<div class="container px-3">
    <div class="text-light py-2 display-4">My Expences</div>

    <div class="row flex-md-row-reverse py-3" dir="rtl">
        <div class="col-md-6 col_height">
            <!-- TOTAL TRANSACTIONS -->
            <div class="order-md-1 card my-2">
                <div class="card-body">
                    <h4>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total Entries:
                            <span class="badge bg-primary"># {{expense_list|length}}</span>
                        </li>
                    </h4>
                </div>
            </div>
            <!-- TOTAL TRANSACTIONS -->
            <!-- SUM CARD -->
            <div class="order-md-2 card my-2">
                <div class="card-body">
                    <ul class="list-group">
                        <h5>
                            <li class="list-group-item d-flex justify-content-between list-group-item-danger">
                                Sum Paid
                                <span class="badge bg-danger">₹ {{sum_result[0].get('sum_paid') |
                                    round(2)}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between list-group-item-success">
                                Sum Recieved
                                <span class="badge bg-success">₹ {{sum_result[0].get('sum_gained')}}</span>
                            </li>
                        </h5>
                    </ul>
                </div>
            </div>
            <!-- SUM CARD -->
            <!-- PAYEES CARD -->
            <div class="order-md-4 card my-2">
                <div class="card-body payee_card">
                    <ul class="list-group">
                        {% for item in payee_list %}
                        <li class="list-group-item">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="">
                                        <b>{{item.get('payeeName')| capitalize}}</b>
                                    </a>

                                    {% if item.get('about')!=None %}
                                    : {{item.get('about')}}
                                    {% endif %}
                                </div>
                                <div>
                                    <span class="align-items-start">
                                        <a class="btn btn-light"
                                            href="{{ url_for('expense_urls.payee_update', payee_id=item.get('payeeId')) }}">
                                            <img src="https://img.icons8.com/ios/20/000000/edit--v2.png" />
                                        </a>
                                        <a class="btn btn-light"
                                            href="{{ url_for('expense_urls.payee_delete', payee_id=item.get('payeeId')) }}">
                                            <img src="https://img.icons8.com/ios/20/000000/delete-forever.png" />
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- PAYEES CARD -->
        </div>


        <!-- PAYEE LIST CARD  -->
        <div class="col-md-6 col_height">

            <div class="order-md-3 card my-2">
                <div class="card-body scroll_card_expense">

                    <ol class="list-group list-group-numbered">
                        {% for item in expense_list[::-1] %}
                        <!-- PAYEE LIST -->
                        <li class="list-group-item d-flex justify-content-between align-items-start"
                            data-bs-toggle="modal" data-bs-target="#{{item.get('payee')}}{{item.get('expId')}}">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{item.get('payee') | capitalize}}</div>
                                <span class="badge bg-secondary">
                                    {{item.get('date_created').date().strftime('%b %d, %Y')}}</span>
                            </div>
                            <h4>
                                {% if item.get('payment_status')=='Paid' %}
                                <span class="badge bg-danger">₹ {{item.get('amount')}}</span>
                                {% else %}
                                <span class="badge bg-success">₹ {{item.get('amount')}}</span>
                                {% endif %}
                            </h4>
                        </li>
                        <!-- PAYEE LIST -->

                        <!-- PAYEE MODAL -->
                        <div class="modal fade" id="{{item.get('payee')}}{{item.get('expId')}}" tabindex="-1"
                            aria-labelledby="{{item.get('payee')}}{{item.get('expId')}}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- PAYEE MODAL HEADER -->
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="{{item.get('payee')}}{{item.get('expId')}}Label">
                                            {{item.get('payee') | capitalize}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <!-- PAYEE MODAL HEADER -->

                                    <!-- PAYEE MODAL BODY -->
                                    <form action="" method="POST" id="expense_update">

                                        <div class="modal-body">
                                            <div class="my-3 mx-4">
                                                <select class="form-select" name="payee_list"
                                                    aria-label="Default select example">
                                                    <option value="{{item.get('payee')}}" selected>
                                                        {{item.get('payee')}}
                                                    </option>
                                                    {% for payee in payee_list %}
                                                    <option value="{{payee.get('payeeName')}}">
                                                        {{payee.get('payeeName')}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="my-3 mx-4">
                                                <div class="form-floating">
                                                    <input type="number" step=".01" class="form-control" id="amount"
                                                        value="{{item.get('amount')}}" name="amount">
                                                    <label for="newPayeeName">Amount</label>
                                                </div>
                                            </div>
                                            <div>
                                                <input class="form-control" type="text" name='expId' id='expId'
                                                    value="{{item.get('expId')}}" hidden />
                                            </div>
                                        </div>
                                        <!-- PAYEE MODAL BODY -->

                                        <!-- PAYEE MODAL FOOTER -->
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                                            <button type="submit" class="btn btn-primary" name="expense_update"
                                                value="expense_update" id="expense_update">Save
                                                changes</button>
                                            <a class="btn btn-danger"
                                                href="{{ url_for('expense_urls.expense_delete', expId=item.get('expId')) }}">Delete</a>
                                        </div>
                                        <!-- PAYEE MODAL FOOTER -->
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- PAYEE MODAL -->
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <!-- PAYEE LIST CARD  -->
    </div>
</div>

{% endblock %}