{% extends 'base.html' %}

{% block head %}<title>Payee | {{payee}}</title>{% endblock %}

{% block body %}

<div class="container px-3">
    <div class="text-light py-2 display-4">{{payee|capitalize}}</div>

    <div class="row flex-md-row py-3">
        <div class="col col_height">
            <div class=" card my-2">
                <div class="card-body">

                    {% if result|length == 0 %}
                    <div class=" text-center my-3">
                        <img class="img-fluid m-2" style="width: 450px;"
                            src="{{ url_for('static', filename='img/nothing.svg') }}">
                        <div class="text-center">
                            <p class="py-1 fw-light my-3 fs-1">Nothing Here</p>
                        </div>
                    </div>
                    {% endif %}

                    <ol class="list-group list-group-numbered">
                        {% for item in result %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <a href="{{url_for('record', pid=item.get('pid'), projectName=item.get('pname'))}}"
                                    style="text-decoration: none;">
                                    <div class="fw-bold">
                                        {{item.get('pname') | capitalize}}
                                    </div>
                                </a>
                                {{item.get('date_created').date().strftime('%b %d, %Y')}}
                            </div>
                            {% if item.get('payment_status')=='Paid' %}
                            <span class="badge bg-danger fs-6 rounded-pill font-monospace">
                                ₹ {{'%0.2f' | format(item.get('amount') | float)}}</span>
                            {% else %}
                            <span class="badge bg-success fs-6 rounded-pill font-monospace">
                                ₹ {{'%0.2f' | format(item.get('amount') | float)}}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}