{% extends 'base.html' %}

{% block head %}
<title>Records</title>
{% endblock %}





{% block body %}


<div class="container">
    <div class="text-">


        <table class="table">
            <tr class="table text-light">
                <th> Name Tag</th>
                <th>Length (in meters)</th>
                <th>Width (in meters)</th>
                <th>Area- Sqm</th>
                <th>Area- Sqft</th>
                <th>Rate</th>
                <th></th>
            </tr>
        </table>
    </div>
</div>


{% endblock %}