{% extends 'base.html' %}

{% block head %}
<title>Records</title>
{% endblock %}


{% block body %}



<div class="container p-5">
    <div class="">

        <form action="" method="POST" name="add_skills" id="add_skills">

            <table class=" table">
                <tr class="table text-light">
                    <th> Name Tag</th>
                    <th>Length (in meters)</th>
                    <th>Width (in meters)</th>
                    <th>Area- Sqm</th>
                    <th>Area- Sqft</th>
                    <th>Rate</th>
                    <th></th>
                </tr>


                {% for item in project_json %}

                <tr class="table text-light">

                    <td>{{item["name"]}}</td>
                    <td>{{item["length"]}}</td>
                    <td>{{item["width"]}}</td>
                    <td>{{item["sqm"]}}</td>
                    <td>{{item["sqft"]}}</td>
                    <td>{{item["rate"]}}</td>
                    <td><a disable><img src="https://img.icons8.com/cotton/25/000000/delete-sign--v2.png" /></a></td>

                </tr>
                {% endfor %}

                <tr>
                    <th><input class="form-control form-control-sm" id="name" name="name" type="text"
                            placeholder="Tag it" aria-label=".form-control-sm">
                    </th>
                    <th><input class="form-control form-control-sm" id="length" name="length" type="number"
                            placeholder="in meters" aria-label=".form-control-sm">
                    </th>
                    <th><input class="form-control form-control-sm" id="width" name="width" type="number"
                            placeholder="in meters" aria-label=".form-control-sm">
                    </th>
                    <th><input class="form-control form-control-sm" id="sqm" name="sqm" type="number" placeholder="Sqm"
                            aria-label=".form-control-sm" readonly>
                    </th>
                    <th><input class="form-control form-control-sm" id="sqft" name="sqft" type="number"
                            placeholder="Sqft" aria-label=".form-control-sm" readonly>
                    </th>
                    <th><input class="form-control form-control-sm" id="rate" name="rate" type="number"
                            placeholder="rate" aria-label=".form-control-sm">
                    </th>
                    <td></td>
                </tr>

            </table>


            <div class="my-2">
                <button type="submit" class="btn btn-outline-primary"><img
                        src="https://img.icons8.com/color/20/000000/save--v2.png" /> Save</button>
                <button type="button" id="AddMoreFileBoxInput" class="btn btn-outline-success"><img
                        src="https://img.icons8.com/ios-glyphs/20/26e07f/plus-math.png" /> Add item</button>
            </div>

            <br> <br> <br> <br> <br> <br>
            <!-- 

            <div>

                <div class="row text-light h6">
                    <div class="col">Name/Tag</div>
                    <div class="col">Length (in meters)</div>
                    <div class="col">Width (in meters)</div>
                    <div class="col">Area- Sqm</div>
                    <div class="col">Area- Sqft</div>
                    <div class="col">Rate</div>
                    <hr class="my-2">
                </div> -->



            <!-- 
                <div class="row p-1 text-light">
                    <div class="col">Name/Tag</div>
                    <div class="col">Length (in meters)</div>
                    <div class="col">Width (in meters)</div>
                    <div class="col">Area- Sqm</div>
                    <div class="col">Area- Sqft</div>
                    <div class="col">Rate</div>

                </div> -->


            <!-- <div id="InputsWrapper">

                <div class="row p-1 text-light">

                    <div class="col">
                        <input class="form-control form-control-sm" id="name" name="name" type="text"
                            placeholder="Tag it" aria-label=".form-control-sm" hidden>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="length" name="length" type="text"
                            placeholder="in meters" aria-label=".form-control-sm" hidden>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="width" name="width" type="text"
                            placeholder="in meters" aria-label=".form-control-sm" hidden>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="sqm" type="text" name="sqm" placeholder="Sqm"
                            aria-label=".form-control-sm" readonly hidden>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="sqft" type="text" name="sqft" placeholder="Sqft"
                            aria-label=".form-control-sm" readonly hidden>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" id="rate" name="rate" type="text" placeholder="rate"
                            aria-label=".form-control-sm" hidden>
                    </div>
                    <div class=col-auto>
                        <a disable hidden><img src="https://img.icons8.com/cotton/30/000000/delete-sign--v2.png" /></a>
                    </div>

                </div>
            </div> -->

            <!-- <hr class="my-2 text-light"> -->
            <!-- <div id="InputsWrapper"></div> -->

            <!-- <div class="my-2">
                <button type="submit" class="btn btn-outline-primary"><img
                        src="https://img.icons8.com/color/20/000000/save--v2.png" /> Save</button>
                <button type="button" id="AddMoreFileBoxInput" class="btn btn-outline-success"><img
                        src="https://img.icons8.com/ios-glyphs/20/26e07f/plus-math.png" /> Add item</button>
            </div> -->

        </form>
    </div>
</div>

<div>

    <div class="container text-light">

        SESSION: {{session}}
        <br>
        PROJECT NAME: {{projectName}}
        <br>
        METRICS: {{project_json}}
    </div>

</div>
</div>
{% endblock %}