{% extends 'base.html' %}

{% block head %}
<title>Records</title>
{% endblock %}


{% block header %}
<a type="button" href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
{% endblock %}


{% block body %}

<div class="container-lg pt-2 px-3 pb-4">
    <div class="d-flex justify-content-between align-middle">
        <h2 class="py-2 text-light">
            {{projectName|capitalize}}
        </h2>
        <span>
            <a class="btn btn-light" style="z-index:2;" href="{{ url_for('deleteProject',projectName = projectName)}}">
                <img src="https://img.icons8.com/color/20/000000/delete-forever.png" />
            </a>
        </span>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="table-primary align-middle row-cols-auto">
                        <th class="text-start mx-2">Tag</th>
                        <th class="text-center mx-2">Length (m)</th>
                        <th class="text-center mx-2">Width(m)</th>
                        <th class="text-center mx-2" style="white-space: nowrap">Area: Sqm</th>
                        <th class="text-center mx-2" style="white-space: nowrap">Area: Sqft</th>
                        <th class="text-end mx-2">Rate</th>
                        <th class="text-end mx-2" style="white-space: nowrap">Amount (₹)</th>
                        <th class="text-center mx-2" style="white-space: nowrap">Action</th>
                    </thead>

                    <form action="" method="POST" name="update_dimention" id="update_dimention">

                        {% for item in project_json %}
                        <tr class="table align-middle">
                            <td class="mx-2 font-monospace" style="white-space: nowrap">{{item.get('tag')|capitalize}}
                            </td>
                            <td class="text-center mx-2 font-monospace" style="white-space: nowrap">
                                {{item.get('length')}} m
                                ({{'%0.2f' | format(item.get('length')*3.281 | float) }} ft) </td>
                            <td class="text-center mx-2 font-monospace" style="white-space: nowrap">
                                {{item.get('width')}}
                                m
                                ({{'%0.2f' | format(item.get('width')*3.281 | float) }} ft) </td>

                            <!-- if you change "N/A" here then change the value in js file also -->
                            <!-- <td class="text-end mx-2 font-monospace">{{item["sqm"]}}</td> -->
                            <!-- <td class="text-end mx-2 font-monospace">{{item["sqft"]}}</td> -->

                            <td class="text-end mx-2 font-monospace">{{'%0.2f' | format(item.get('sqm') | float) }}</td>
                            <td class="text-end mx-2 font-monospace">{{'%0.2f' | format(item.get('sqft') | float) }}
                            </td>

                            <td class="text-end mx-2 font-monospace">{{'%0.2f' | format(item.get('rate') | float) }}
                            </td>
                            <td class="text-end mx-2 font-monospace">{{'%0.2f' | format(item.get('amount') | float) }}
                            </td>
                            <td class="text-center mx-2" style="white-space: nowrap">

                                <a href="{{url_for('update_dimention', projectName=projectName, pid=pid, dimid=item.get('dimid'))}}"
                                    style="text-decoration: none;">
                                    <img class="icon_ud" src="https://img.icons8.com/ios/20/fff/edit-row.png" />
                                </a>

                                <!-- HERE MODAl UPDATE -->

                                <!-- Delete modal -->
                                <a class="align-bottom" data-bs-toggle="modal"
                                    data-bs-target="#delete{{item.get('dimid')}}Modal">
                                    <img class="icon_ud" style="border-radius: 10%;"
                                        src="https://img.icons8.com/ios/20/000000/delete-sign--v1.png" />
                                </a>
                                <div class="modal fade" id="delete{{item.get('dimid')}}Modal" tabindex="-1"
                                    aria-labelledby="delete{{item.get('dimid')}}ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delete{{item.get('dimid')}}ModalLabel">
                                                    Confirm
                                                    delete dimention "{{item.get('tag')|capitalize}}"</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                You wish to permanently delete dimention&rarr;
                                                <b>"{{item.get('tag')|capitalize}}"</b>?<br>
                                                <b class="my-1">Be Careful!</b>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-success"
                                                    data-bs-dismiss="modal">Get
                                                    back to safety</button>
                                                <a class="btn btn-danger align-bottom"
                                                    href='{{url_for("delete",projectName=projectName, pid=pid, dimid=item.get("dimid"))}}'>
                                                    Chop Chop!
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete modal -->

                            </td>
                        </tr>
                        {% endfor %}
                    </form>

                    <!-- Modal -->
                    <form action="" method="POST" name="new_dimention" id="new_dimention">

                        <div class="modal fade" id="newDimention" tabindex="-1" aria-labelledby="newDimentionLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newDimentionLabel">
                                            New Dimention
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="my-2"><input class="form-control" id="tag" name="tag" type="text"
                                                placeholder="Tag" aria-label=".form-control-sm" required>
                                        </div>
                                        <div class="my-2"><input class="form-control" id="length" step=".01"
                                                name="length" type="number" placeholder="Length (meter)"
                                                oninput="areas()" aria-label=".form-control-sm" required>
                                        </div>
                                        <div class="my-2"><input class="form-control" id="width" step=".01" name="width"
                                                type="number" placeholder="Width (meter)" oninput="areas()"
                                                aria-label=".form-control-sm">
                                        </div>
                                        <div class="my-2"><input class="form-control" id="sqm" name="sqm" type="text"
                                                placeholder="Sqm" aria-label=".form-control-sm" readonly>
                                        </div>
                                        <div class="my-2"><input class="form-control" id="sqft" name="sqft" type="text"
                                                placeholder="Sqft" aria-label=".form-control-sm" readonly>
                                        </div>
                                        <div class="my-2"><input class="form-control" id="rate" step=".01" name="rate"
                                                type="number" placeholder="Rate" oninput="areas()"
                                                aria-label=".form-control-sm">
                                        </div>
                                        <div class="my-2"><input class="form-control" id="amount" name="amount"
                                                type="number" placeholder="Amount" aria-label=".form-control-sm"
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" name="new_dimention" value="new_dimention"
                                            class="btn btn-primary m-1">
                                            <img src="https://img.icons8.com/ios-filled/25/000000/save--v1.png" />
                                            Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </table>
            </div>
            <div class="d-flex justify-content-center my-1">
                <button type="button" class="btn btn-outline-primary align-middle" data-bs-toggle="modal"
                    data-bs-target="#newDimention">Add Dimention
                </button>
            </div>
        </div>
    </div>

    <div class="row flex-md-row py-3">

        <div class="col-md-6">
            <div class="card my-3" style="text-align:center; min-height: 164px;">
                <div class="card-body" style="text-align:center;">
                    <button type="button" class="btn btn-primary align-middle" data-bs-toggle="modal"
                        data-bs-target="#newDimention">
                        <span style="white-space: nowrap">
                            <img class="px-2" src="https://img.icons8.com/ios-filled/25/000000/save--v1.png" />
                            Add Dimention
                        </span>
                    </button>
                    <a class="btn btn-success m-1" href='{{url_for("download_excel",projectName=projectName)}}'>
                        <span style="white-space: nowrap">
                            <img class="px-2" src="https://img.icons8.com/ios-glyphs/25/000000/ms-excel.png">
                            Save Excel</span>
                    </a>
                    <button class="btn btn-danger m-1" disabled>
                        <span style="white-space: nowrap">
                            <img class="px-2" src="https://img.icons8.com/material-rounded/25/000000/pdf.png">
                            Save PDF
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="height: 200px;">
            <div class="card my-3">
                <div class="card-body">
                    <p class="" style="text-align:center">
                        Total area <b class="fs-5"> {{sum_sqm}} Sqm</b><br>
                        Total area <b class="fs-5"> {{sum_sqft}} SqFt.</b><br>
                        Total<b class="fs-5"> ₹ {{sum_amt}} </b><br>
                        <span class="small" style="text-align:center;">
                            <em>
                                *Amount calculated using Dimentions in </em><span
                                class="badge bg-primary rounded-pill">ft./sqft.

                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}