{% extends 'base.html' %}
{% load static %} {% load humanize %}
{% block head %}
<title>All Expenses</title>
{% endblock %}

{% block header %}

<!-- Add new payee modal trigger -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPayee">
    <img alt="user" src="https://img.icons8.com/ios/30/ffffff/user--v3.png" />
</button>
<!-- Add new payee modal trigger -->

{% endblock %}


{% block body %}

<!-- Add new user modal -->
<div class="modal fade" id="newPayee" tabindex="-1" aria-labelledby="newPayeeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="newPayee">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPayeeLabel">New Payee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" id="button-addon2">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Add new user modal -->

<div class="container px-3">
    {% if project_name %}
    <div class="text-light py-2 display-4">Expenses: {{project_name}}</div>
    {% else %}
    <div class="text-light py-2 display-4">All Expenses</div>
    {% endif %}
    <div class="row flex-md-row-reverse py-3" dir="rtl">
        <div class="col-md-6 col_height">

            <!-- SUM CARD -->
            {% include "components/sum_card.html" %}
            <!-- SUM CARD -->


            <!-- PAYEES CARD -->
            {% include "components/all_payees_card.html" %}
            <!-- PAYEES CARD -->

        </div>

        <!-- EXPENSE LIST CARD  -->
        {% include "components/expenses_card.html" %}
        <!-- EXPENSE LIST CARD  -->

    </div>
</div>

{% endblock %}

{% block expense_button %}
<a href="{%url 'home'%}" type="button" class="btn btn-success btn-lg">
    <img alt="project-btn" src="https://img.icons8.com/ios/30/ffffff/safety-hat.png" />
</a>
{% endblock %}