{% extends 'base.html' %}
{% load static %} {% load humanize %}


{% block title %} - Estimate {% endblock %}

{% block header %}

<!-- new estimate modal trigger -->
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a href="{% url 'folio' %}" class="nav-link active text-light" aria-current="page">Folio</a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link active text-light dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false">
                New
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li>
                    <a data-bs-toggle="modal" data-bs-target="#newEstimate" class="dropdown-item" aria-current="page">
                        Estimate
                    </a>
                </li>
                <li>
                    <a data-bs-toggle="modal" data-bs-target="" class="dropdown-item" aria-current="page">
                        Client
                    </a>
                </li>
            </ul>
        </div>

    </li>
</ul>
<!-- new estimate modal trigger -->

{% endblock %}


{% block modal %}
<!-- new estimate modal -->
<div class="modal fade" id="newEstimate" tabindex="-1" aria-labelledby="newEstimateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="newEstimate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newEstimateLabel">New Estimate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <p>
                            {{form.name.label}}
                            {{form.name}}
                        </p>
                        <p>
                            {{form.client.label}}
                            {{form.client}}
                        </p>
                        <p>
                            {{form.description.label}}
                            {{form.description}}
                        </p>

                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success" type="submit" id="button-addon2">Launch</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- new estimate modal -->
{% endblock %}



{% block body %}

<div class="container-lg pb-4">
    <div class="text-light py-2 display-4">Estimate</div>
    <div class="row">

        {% if projects_list|length == 0 %}
        <div class="card">
            <div class="card-body">
                <div class=" text-center my-3">
                    <img alt="void" class="img-fluid m-2" style="width: 400px;" src="{% static 'img/void.svg' %}">
                    <div class="text-center">
                        <p class="py-1 fw-light my-3 fs-1">Nothing Here
                            <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newEstimate"
                                class="nav-link active text-light" aria-current="page">
                                <span class="align-bottom">
                                    New Estimate
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if projects_list%}

        {% for item in projects_list %}
        <div class="col-lg-4 col-md-6 sm-10">
            <a href="{% url 'estimate' item.id item.name %}" class="text-dark" aria-label="project-{{item.name}}">
                <div class="card my-2 index_project_card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold text-nowrap">
                                    <span class="text-muted small">
                                        {{item.reference_number}}
                                    </span>
                                    <span class="text-wrap">
                                        {{item.name|capfirst}}
                                    </span>
                                </div>
                                <span class="badge bg-secondary mt-1" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="{{item.created_on}}">
                                    <small>
                                        Created {{item.created_on|naturalday}}
                                    </small>
                                </span>
                            </div>
                            <!-- Delete modal -->
                            <span>
                                <a class="delete_button badge bg-light" id="delete_button{{item.id}}"
                                    data-bs-toggle="modal" data-bs-target="#delete{{item.id}}Modal">
                                    <img class="icon_ud" width="28" height="28"
                                        src="https://img.icons8.com/ios/50/000000/delete-forever--v2.png" />
                                </a>
                            </span>
                            <!-- Delete modal -->
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="modal fade" id="delete{{item.id}}Modal" tabindex="-1" aria-labelledby="delete{{item.id}}ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete{{item.id}}ModalLabel">
                            Confirm
                            delete123 "{{item.name | capfirst }}"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        You wish to permanently delete estimate&rarr;
                        <b>"{{item.name | capfirst }}"</b>?<br>
                        <b class="my-1">Be Careful!</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Get
                            back to safety</button>
                        <form action="{% url 'delete_project' item.id item.name %}" method="POST">
                            {% csrf_token %}

                            <button class="confirm_delete btn btn-danger align-bottom" type="submit">
                                Chop Chop!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% endif %}
    </div>

</div>

{% endblock %}



{% block expense_button %}
<a href="{%url 'home'%}" type="button" class="btn btn-warning btn-lg">
    <img alt="project-btn" src="https://img.icons8.com/ios/30/000/safety-hat.png" />
</a>

<a aria-label="all-expenses" href="{% url 'all_expenses' %}" type="button" class="btn btn-success btn-lg">
    <img alt="all-expenses" src="https://img.icons8.com/ios/30/ffffff/money-circulation.png" />
</a>

{% endblock %}