{% extends 'base.html' %}
{% load static %} {% load humanize %} {% load utility %}


{% block title %} - Estimate {% endblock %}

{% block header %}

<li class="nav-item">
    <!-- new estimate modal trigger -->
    <a data-bs-toggle="modal" data-bs-target="#newEstimate" class="nav-link active text-light" aria-current="page">
        New Estimate
    </a>
</li>
<li class="nav-item">
    <a class="nav-link active text-light" data-bs-toggle="offcanvas" href="#offcanvasMoreOptions"
        aria-controls="offcanvasMoreOptions">
        More
    </a>
</li>

{% endblock %}


{% block modal %}
<!-- new estimate modal -->
<div class="modal fade" id="newEstimate" tabindex="-1" aria-labelledby="newEstimateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="POST" id="newEstimate">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newEstimateLabel">New Estimate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <p>
                            {{form.name.label}}
                            {{form.name}}
                        </p>
                        <p>
                            {{form.client.label}}
                            {{form.client}}
                        </p>
                        <p>
                            {{form.description.label}}
                            {{form.description}}
                        </p>

                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success" type="submit" id="button-addon2">Launch</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- new estimate modal -->


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMoreOptions"
    aria-labelledby="offcanvasMoreOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasMoreOptionsLabel">More Options</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <a class="list-group-item active fw-bold">Management</a>
            <a href="{% url 'folio' %}" class="list-group-item list-group-item-action">Folio</a>
            <a href="{% url 'clients' %}" class="list-group-item list-group-item-action">Clients</a>

            {% if user.is_staff or user.is_admin %}
            <a href="{% url 'organization' %}" class="list-group-item list-group-item-action">Admin</a>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}



{% block body %}
<div class="container-lg pb-4">
    <div class="text-light py-2">
        <div class="display-4">Estimate</div>
        <div class="fs-4">
            <span class="">&#128994</span>
            {{projects_list | length}} active projects
        </div>
    </div>

    {% if projects_list%}
    <div class="row">
        {% for item in projects_list %}
        <div class="col-md-6 col-sm-12">
            <div class="m-1 index_project_card" style="height:80px;">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-start">
                        <a href="{% url 'estimate' item.id item.name %}">
                            <div class="ms-2 text-dark">
                                <div class="">
                                    <span class="fw-bold">
                                        <span class="text-muted">
                                            {{item.reference_number}}
                                        </span>
                                        <span>
                                            <span>{% replaceItem item.name|capfirst %}</span>
                                            <span class="badge bg-primary">{{item.created_on|naturalday}}</span>
                                        </span>
                                    </span>
                                </div>
                                <span class="wrapword">
                                    {{item.description|truncatechars:20|capfirst}}
                                </span>
                            </div>
                            <span>
                                <a class="delete_button badge bg-light" id="delete_button{{item.id}}"
                                    data-bs-toggle="modal" data-bs-target="#delete{{item.id}}Modal">
                                    <img class="icon_ud" width="28" height="28"
                                        src="https://img.icons8.com/ios/50/000000/delete-forever--v2.png" />
                                </a>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- DELETE MODAL -->
        <div class="modal fade" id="delete{{item.id}}Modal" tabindex="-1" aria-labelledby="delete{{item.id}}ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete{{item.id}}ModalLabel">
                            Confirm
                            delete "{{item.name | capfirst }}"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        You wish to permanently delete project&rarr;
                        <b>"{{item.name | capfirst }}"</b>?<br>
                        <b class="my-1">Be Careful!</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Get
                            back to safety</button>
                        <form action="{% url 'delete_estimate' item.id item.name %}" method="POST">
                            {% csrf_token %}

                            <button class="confirm_delete btn btn-danger align-bottom" type="submit">
                                Chop Chop!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- DELETE MODAL -->
        {% endfor %}
    </div>

    {% else %}

    <div class="card">
        <div class="card-body">
            <div class=" text-center my-3">
                <img alt="void" class="img-fluid m-2" style="width: 400px;" src="{% static 'img/void.svg' %}">
                <div class="text-center">
                    <p class="py-1 fw-light my-3 fs-1">Nothing Here
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>


{% if projects_list%}
<!-- PAGINATION -->
<nav aria-label="Page navigation mt-2">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev.</a>
        </li>
        {% endif %}
        <li class="page-item">
            <span class="page-link">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- PAGINATION -->
{% endif %}
<!-- </div> -->


{% endblock %}



{% block expense_button %}

{% endblock %}