{% extends 'base.html' %}
{% load static %} {% load humanize %}

{% block title %} - Estimate/Update{% endblock %}

{% block body %}

<div class="container-lg container-md container-sm py-4">
    <div class="mx-auto">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-6 col-xl-6">
                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title" id="{{expense.name}}expense">Update Estimate
                        </h5>
                    </div>
                    {{pk}}
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <p>
                                {{form.room.label}}
                                {{form.room}}
                            </p>
                            <p>
                                {{form.room_item.label}}
                                {{form.room_item}}
                            </p>
                            <p>
                                {{form.room_item_description.label}}
                                {{form.room_item_description}}
                            </p>
                            <p>
                                {{form.unit.label}}
                                {{form.unit}}
                            </p>
                            <hr>

                            <p>
                            <div class="form-check">
                                <input onclick="area_enable()" class="form-check-input" type="radio" name="flexRadio"
                                    id="flexRadioDefault1" checked>
                                <!-- <label class="form-check-label" for="flexRadioDefault1">Area</label> -->


                                <label class="form-check-label" for="flexRadioDefault1" id="areaBox">
                                    <div class="row">
                                        <div class="col">
                                            {{form.length.label}}
                                            {{form.length}}
                                        </div>
                                        <div class="col">
                                            {{form.width.label}}
                                            {{form.width}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="sqm_box" class="col">
                                            Sqm
                                            <input class="form-control" id="sqm" type="text" placeholder="Sqm"
                                                aria-label=".form-control-sm" value="{{dimension.sqm}}" disabled
                                                readonly>
                                        </div>
                                        <div id="sqft_box" class="col">
                                            Sqft
                                            <input class="form-control" id="sqft" type="text" placeholder="Sqft"
                                                aria-label=".form-control-sm" value="{{dimension.sqft}}" disabled
                                                readonly>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            </p>
                            <hr>
                            <p>
                            <div class="form-check">
                                <input onclick="quantity_enable()" class="form-check-input" type="radio"
                                    name="flexRadio" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2" id="quantityBox">
                                    <div>
                                        {{form.quantity.label}}
                                        {{form.quantity}}
                                    </div>
                                </label>
                            </div>
                            </p>
                            <hr>
                            <p>
                                {{form.discount.label}}
                                {{form.discount}}
                            </p>

                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}