{% extends 'base.html' %}
{% load static %} {% load humanize %}


{% block title %} - Company Settings {% endblock %}

{% block head %}
<script>

</script>
{% endblock %}

{% block header %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link text-light active" href="{% url 'all_estimates' %}">
            Estimates
        </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'clients' %}" class="nav-link text-light active" aria-current="page">
            Clients
        </a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div class="container-lg pb-4">
    <div class="text-light py-2 display-4">Console</div>
    <div class="card">
        <div class="card-body">
            <div class="py-2 display-6">Profile</div>

            <div class="">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <p>
                                {{form.company_name.label}}
                                {{form.company_name}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                {{form.manager_name.label}}
                                {{form.manager_name}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{form.email.label}}
                                {{form.email}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                {{form.phoneNumber.label}}
                                {{form.phoneNumber}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{form.address_1.label}}
                                {{form.address_1}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                {{form.address_2.label}}
                                {{form.address_2}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{form.landmark.label}}
                                {{form.landmark}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                {{form.town_city.label}}
                                {{form.town_city}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{form.zip_code.label}}
                                {{form.zip_code}}
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                {{form.state.label}}
                                {{form.state}}
                            </p>
                        </div>
                    </div>
                    <a type="button" onClick="edit_organization_form()" class="btn btn-success">
                        Edit Details</a>
                    <button id="save_organization_details" type="submit" class="btn btn-primary">
                        Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <div class="card">
            <div class="card-body">
                <div class="py-2 display-6">Terms and Conditions</div>



                <div class="accordion" id="accordionExample">
                    {% for key, value in data.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{key.pk}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{key.pk}}" aria-expanded="false"
                                aria-controls="collapse{{key.pk}}">
                                <b class="">{{key.name}}</b>
                            </button>
                        </h2>
                        <div id="collapse{{key.pk}}" class="accordion-collapse collapse"
                            aria-labelledby="heading{{key.pk}}" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% for item in value %}
                                <li>{{item.description}}</li>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>

                <p>
                <div class="d-grid gap-2">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#newSection">New Section</button>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#newConditionModal"
                            class="btn btn-info">New Condition</button>
                    </div>
                </div>
                </p>
                <!-- New Section Modal -->
                <div class="modal fade" id="newSection" tabindex="-1" aria-labelledby="newSectionLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                New Section
                                <form name="new_section" id="new_section" action="{% url 'add_terms_heading'%}"
                                    method="POST">
                                    <div class="input-group mb-3">
                                        {%csrf_token%}
                                        <input type="text" class="form-control" placeholder="New Section" name="name"
                                            id="new_section" aria-label=" Recipient's username"
                                            aria-describedby="new-section-button">
                                        <button class="btn btn-primary" type="submit"
                                            id="new-section-button">Save</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- New Section Modal -->

                <!-- New Condition Modal -->
                <div class="modal fade" id="newConditionModal" tabindex="-1" aria-labelledby="newConditionModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form action="{% url 'add_terms_content' %}" method="POST">
                                    {%csrf_token%}
                                    <p>
                                        Heading
                                        <select class="form-select" name="condition_heading"
                                            aria-label="Default select">
                                            <option selected>Headings</option>
                                            {% for head in headings %}
                                            <option value="{{head.pk}}">{{head.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>Condition
                                        <textarea class="form-control" name="description" id="conditionDescription"
                                            rows="2"></textarea>
                                    </p>
                                    <button class="btn btn-primary" type="submit"
                                        id="new-condition-button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Condition Modal -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

<script src="{% static 'js/console.js' %}"></script>

{% endblock %}